<div class="container2 container mt-5">
  <form>
    <div class="text-center mb-3">
      <p>Registrate con tu cuenta de Google:</p>
      <button type="button" class="btn btn-warning btn-floating mx-1">
        <i class="bi bi-google"></i>
      </button>
    </div>

    <p class="text-center">También puedes crear una cuenta de usuario:</p>
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" id="form6Example5" class="form-control" />
      <label class="form-label" for="form6Example5">Email</label>
    </div>

    <div class="form-outline mb-4">
      <input type="password" id="registerPassword" class="form-control" />
      <label class="form-label" for="registerPassword">Contraseña</label>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-warning btn-block mb-4">Crear</button>
  </form>
</div>
